* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(../image/food.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.season p {
    position: absolute;
    font-size: 128px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50%;
}

.season p span {
    display: block; 
    font-size: 48px;
    animation: gradient-think 6s ease infinite;
}

#spring {
    animation: gradient-spring 6s ease infinite;
    background: rgb(32, 190, 32);
}

#summer {
    animation: gradient-summer 6s ease infinite;
    background: rgb(224, 48, 48);
}

#autumn {
    animation: gradient-autumn 6s ease infinite;
    background: orange;
}

#winter {
    animation: gradient-winter 6s ease infinite;
    background: rgb(236, 224, 224);
}

@keyframes gradient-think {
    0% {opacity: 0;}
    70% {opacity: 0;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes gradient-spring {
    0% {opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes gradient-summer {
    0% {opacity: 0;}
    20% {opacity: 0;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes gradient-autumn {
    0% {opacity: 0;}
    40% {opacity: 0;}
    60% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes gradient-winter {
    0% {opacity: 0;}
    60% {opacity: 0;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}